--
-- PostgreSQL database dump
--

\restrict ZP9mgcBHrwxZ3z4FK7fGFWr9VbAMS4oF9RZLrn35ftghxIC4QjlqTHSDUM0EBp6

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: set_payload_hash(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_payload_hash() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.payload_hash := md5(COALESCE(NEW.raw_payload::text, ''));
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_payload_hash() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: vault_admin
--

CREATE TABLE public.admins (
    firebase_uid text NOT NULL,
    role text DEFAULT 'admin'::text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.admins OWNER TO vault_admin;

--
-- Name: pgmigrations; Type: TABLE; Schema: public; Owner: vault_admin
--

CREATE TABLE public.pgmigrations (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    run_on timestamp without time zone NOT NULL
);


ALTER TABLE public.pgmigrations OWNER TO vault_admin;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE; Schema: public; Owner: vault_admin
--

CREATE SEQUENCE public.pgmigrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pgmigrations_id_seq OWNER TO vault_admin;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vault_admin
--

ALTER SEQUENCE public.pgmigrations_id_seq OWNED BY public.pgmigrations.id;


--
-- Name: transactions; Type: TABLE; Schema: public; Owner: vault_admin
--

CREATE TABLE public.transactions (
    id text NOT NULL,
    provider text,
    provider_reference text,
    last_event_type text,
    status text,
    amount bigint,
    currency text,
    data jsonb,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.transactions OWNER TO vault_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: vault_admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    role text DEFAULT 'admin'::text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO vault_admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: vault_admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO vault_admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vault_admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: webhook_events; Type: TABLE; Schema: public; Owner: vault_admin
--

CREATE TABLE public.webhook_events (
    id text NOT NULL,
    provider text,
    provider_event_id text,
    event_type text,
    raw_payload jsonb,
    received_at timestamp without time zone DEFAULT now(),
    payload_hash text
);


ALTER TABLE public.webhook_events OWNER TO vault_admin;

--
-- Name: webhook_events_backup; Type: TABLE; Schema: public; Owner: vault_admin
--

CREATE TABLE public.webhook_events_backup (
    id text,
    provider text,
    provider_event_id text,
    event_type text,
    raw_payload jsonb,
    received_at timestamp without time zone
);


ALTER TABLE public.webhook_events_backup OWNER TO vault_admin;

--
-- Name: pgmigrations id; Type: DEFAULT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.pgmigrations ALTER COLUMN id SET DEFAULT nextval('public.pgmigrations_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: vault_admin
--

COPY public.admins (firebase_uid, role, created_at) FROM stdin;
local-test-uid	admin	2025-10-10 04:59:02.041266
\.


--
-- Data for Name: pgmigrations; Type: TABLE DATA; Schema: public; Owner: vault_admin
--

COPY public.pgmigrations (id, name, run_on) FROM stdin;
1	1670000000000-create-admins	2025-10-10 04:57:32.040393
\.


--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: vault_admin
--

COPY public.transactions (id, provider, provider_reference, last_event_type, status, amount, currency, data, created_at, updated_at) FROM stdin;
migr_tx_1760032700871_ks60rf	paystack	test-ref-123	charge.success	\N	1000	\N	{"amount": 1000, "reference": "test-ref-123"}	2025-10-09 07:59:52.859	2025-10-09 07:59:52.859
migr_tx_1760032700900_wn090s	flutterwave	fw-ref-xyz	payment.completed	\N	2500	\N	{"amount": 2500, "tx_ref": "fw-ref-xyz"}	2025-10-09 07:59:53.417	2025-10-09 07:59:53.417
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: vault_admin
--

COPY public.users (id, username, password_hash, role, created_at) FROM stdin;
1	admin	$2a$10$Sfrolb9bjI7DrekjUTQOtOdGve0i8YD16IN1iCk9txM1lHyAkf6eS	admin	2025-10-09 20:19:59.011865
\.


--
-- Data for Name: webhook_events; Type: TABLE DATA; Schema: public; Owner: vault_admin
--



--
-- Data for Name: webhook_events_backup; Type: TABLE DATA; Schema: public; Owner: vault_admin
--



--
-- Name: pgmigrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vault_admin
--

SELECT pg_catalog.setval('public.pgmigrations_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vault_admin
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (firebase_uid);


--
-- Name: pgmigrations pgmigrations_pkey; Type: CONSTRAINT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.pgmigrations
    ADD CONSTRAINT pgmigrations_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_provider_reference_key; Type: CONSTRAINT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_provider_reference_key UNIQUE (provider_reference);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: webhook_events webhook_events_pkey; Type: CONSTRAINT; Schema: public; Owner: vault_admin
--

ALTER TABLE ONLY public.webhook_events
    ADD CONSTRAINT webhook_events_pkey PRIMARY KEY (id);


--
-- Name: uniq_webhook_payload; Type: INDEX; Schema: public; Owner: vault_admin
--

CREATE UNIQUE INDEX uniq_webhook_payload ON public.webhook_events USING btree (provider, payload_hash);


--
-- Name: webhook_events webhook_payload_hash_trigger; Type: TRIGGER; Schema: public; Owner: vault_admin
--

CREATE TRIGGER webhook_payload_hash_trigger BEFORE INSERT OR UPDATE ON public.webhook_events FOR EACH ROW EXECUTE FUNCTION public.set_payload_hash();


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO webapp;
GRANT USAGE ON SCHEMA public TO app_user;


--
-- Name: TABLE admins; Type: ACL; Schema: public; Owner: vault_admin
--

GRANT ALL ON TABLE public.admins TO webapp;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.admins TO app_user;


--
-- Name: TABLE pgmigrations; Type: ACL; Schema: public; Owner: vault_admin
--

GRANT ALL ON TABLE public.pgmigrations TO webapp;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.pgmigrations TO app_user;


--
-- Name: SEQUENCE pgmigrations_id_seq; Type: ACL; Schema: public; Owner: vault_admin
--

GRANT SELECT,USAGE ON SEQUENCE public.pgmigrations_id_seq TO app_user;


--
-- Name: TABLE transactions; Type: ACL; Schema: public; Owner: vault_admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.transactions TO app_user;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: vault_admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.users TO app_user;


--
-- Name: SEQUENCE users_id_seq; Type: ACL; Schema: public; Owner: vault_admin
--

GRANT SELECT,USAGE ON SEQUENCE public.users_id_seq TO app_user;


--
-- Name: TABLE webhook_events; Type: ACL; Schema: public; Owner: vault_admin
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.webhook_events TO app_user;


--
-- Name: TABLE webhook_events_backup; Type: ACL; Schema: public; Owner: vault_admin
--

GRANT ALL ON TABLE public.webhook_events_backup TO webapp;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.webhook_events_backup TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,USAGE ON SEQUENCES  TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES  TO webapp;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: vault_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE vault_admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "v-token-shopsnpo-RDDUQiRg8sQPaWNqpNu2-1760104703";
ALTER DEFAULT PRIVILEGES FOR ROLE vault_admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "v-token-shopsnpo-fM6r7RrgicBuBIQQ18iG-1760104751";
ALTER DEFAULT PRIVILEGES FOR ROLE vault_admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "v-token-shopsnpo-EM5zzoKeFZ9QvsFwiyVq-1760104950";
ALTER DEFAULT PRIVILEGES FOR ROLE vault_admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "v-token-shopsnpo-tF5DDT7DuUB2OsfrLWQx-1760104984";
ALTER DEFAULT PRIVILEGES FOR ROLE vault_admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "v-token-shopsnpo-HBtZtfk1cjAk8YdMMwSR-1760105003";
ALTER DEFAULT PRIVILEGES FOR ROLE vault_admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "v-token-shopsnpo-ehdfekvY3U73Exl4rKS3-1760105176";
ALTER DEFAULT PRIVILEGES FOR ROLE vault_admin IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "v-token-shopsnpo-pnSyTUOmtcKDYpAT7N5k-1760105430";


--
-- PostgreSQL database dump complete
--

\unrestrict ZP9mgcBHrwxZ3z4FK7fGFWr9VbAMS4oF9RZLrn35ftghxIC4QjlqTHSDUM0EBp6

